name: Generate Gradle Wrapper
on: 
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Generate Wrapper
        run: gradle wrapper --gradle-version 8.13.2

      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add gradlew gradlew.bat gradle/
          git commit -m "chore: generate gradle wrapper 8.13.2" || echo "No changes to commit"
          git push